--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary

python-dotenv

bcrypt
python-jose[cryptography]

pydantic
email-validator

httpx
websockets

langchain-core
langchain-openai
langchain-community
langchain-huggingface

sentence-transformers
torch

pgvector
python-multipart